<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Backwater Creek Community</title>
</head>


<body>
<!-- begin header -->
<table width="100%" border="0">
	<tr>
		<td bgColor="#333333" colSpan="2">
			<font face="arial, helvetica" color="#ffffff">Backwater Creek Community</font>
		</td>
	</tr>

	<tr>
		<td vAlign="top">&nbsp;<a href="search.html">Search</a> | <a href="mobile_search.hbs">Mobile</a> | <a href="login.html">Login</a></td>
		<td align="right">
			<IMG alt="Backwater Creek Community" src="res/logo.jpg">
		</td>
	</tr>
</table>
<!-- end header -->
    {{{body}}}

</body>
</html>
